@keyframes gradientBorder {
    0% { background: linear-gradient(45deg, #ff0000, #7e0000); }
    50% { background: linear-gradient(45deg, #7e0000, #ff0000); }
    100% { background: linear-gradient(45deg, #ff0000, #7e0000); }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.gradient-border {
    background: linear-gradient(45deg, #ff0000, #7e0000);
    border-radius: 25px;
    padding: 5px;
    animation: gradientBorder 3s infinite;
    display: none; 
}

.container {
    background-color: #380000;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    width: 450px;
    color: #fff;
    box-shadow: 0 0 80px rgba(129, 0, 0, 0.7);
    position: relative;
}

.frakinvite-text {
    position: absolute;
    top: 12px;
    left: 12px;
    font-weight: bold;
    font-size: 1.3em;
    color: rgba(255, 255, 255, 0.8);
}

.logo {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.server-name {
    font-size: 1.8em;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 25px;
    color: rgba(255, 255, 255, 0.9);
}

.invite-text {
    font-size: 1.4em;
    margin: 25px 0;
    line-height: 1.5;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.7);
}

.buttons {
    margin-top: 30px;
}

.button {
    border: none;
    border-radius: 30px;
    padding: 15px 30px;
    margin: 10px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s, color 0.3s;
    width: 45%;
    max-width: 180px;
}

.button.accept {
    background-color: #03ca32;
    color: rgba(255, 255, 255, 0.9);
}

.button.accept:hover {
    background-color: #00ff2a;
}

.button.decline {
    background-color: #970311;
    color: rgba(255, 255, 255, 0.9);
}

.button.decline:hover {
    background-color: #c82333;
}
